@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

:root {
    --cor-primaria: #ff0000;
    --cor-secundaria: #739EC9;
    --cor-terciaria: #FFE8DB;
    --cor-hover: #5682B1;

    --fonte-primaria: 'montserrat', sans-serif;
    --fonte-secundaria: "Zen Dots", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 3% 7%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

body{
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.apresentacao{
    padding: 5% 7% 10% 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.azul-do-titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    padding: 21.5px 3%;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 32px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

@media (max-width: 960px) {
    
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 60px;
    }

    .apresentacao__conteudo {
        width: auto;
        gap: 80px;
        
    }
}